header {
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.55) 70%, rgba(66, 134, 244, 0.45) 99%),
	url("fondacc.jpg") no-repeat center center;
	background-size: cover;
}

.playercount {
	display: inline-block;
	padding: 3px;
	font-size: 1.2em;
	color: white;
	text-align: center;
}

.playercount span {
	display: inline-block;
	background: linear-gradient(to left, #6c82ff, rgb(122, 204, 200));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 800;
}


.img {
	transition: all 0.4s ease;
	padding-bottom: 10px;
}

.img:hover {
	transform: scale(1.05);
}

.apropos {
	padding-bottom: 15px;
}

.gradient {	
	margin-top: 20px;
	color: white;
	text-align: center;
	padding: 30px;
	background-size: cover;
	background: #22275a;

	
}

.flex-container {
	margin: 0 auto;
	max-width: 1100px;
	display: flex;
	flex-wrap: wrap;
	
}



.vote-btn {
	background-color: rgb(255,255,255);
	border: 2px solid #595a5b;
	padding: 20px 40px;
	outline: none;
	cursor: pointer;
	transition-duration: 0.4s;
	text-transform: uppercase;
}

.vote-btn:hover {
	background-color: #595a5b;
	color: white;
}

.vote-container {
	display: flex;
	flex-wrap: wrap;
	margin: 25px auto 0 auto;
	max-width: 1100px;
	justify-content: space-around;
	border-top: 1px solid;
}

.vote-section {
	text-align: center;
	max-width: 900px;
	margin: 0 auto;
}


.split {
	flex-basis: 250px;
}


.split img {
 border-radius: 20px ;
}


.vote {
	flex-basis: 210px;
}


@media(min-width: 1000px) {
	.item:not(:first-child) {
		margin-left: 90px;
	}
}

@media(min-width: 700px) {
	.main-content {
		width: 40%;
		text-align: center;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
    .img {
        width: 100%;
        height: auto;
    }
}


@media only screen and (min-width: 601px) {
    .flex-container {
        display: flex;
    }
    .split {
        flex: 1;
        padding: 20px;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.vote {
		min-width: 50%;
	}
}